In [1]:
!pip install /Users/zehaodong/Documents/GitHub/financial-planner

Processing /Users/zehaodong/Documents/GitHub/financial-planner
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: financial-planner
  Building wheel for financial-planner (PEP 517) ... done
  Created wheel for financial-planner: filename=financial_planner-0.0.2-py2.py3-none-any.whl size=45182 sha256=48d73ed5b10e07c9a80f557928cae2fca975e507489a7b8ed7d0461f301d2317
  Stored in directory: /Users/zehaodong/Library/Caches/pip/wheels/d6/2e/74/de1092ce1238911e4b3d829f7dca44d948cd0795a65fd66f2b
Successfully built financial-planner
Installing collected packages: financial-planner
  Attempting uninstall: financial-planner
    Found existing installation: financial-planner 0.0.2
    Uninstalling financial-planner-0.0.2:
      Successfully uninstalled financial-planner-0.0.2
Successfully installed financial-planner-0.0.2

# Savings Goals Calculator

In [2]:
import pandas as pd

In [3]:
from financial_planner.entities.household import Person
from financial_planner.entities.income import Job
from financial_planner.entities.expense import Expenses


person = Person(
    age=30,
    gender='M'
)
person.add_job(Job(salary=300000, salary_growth_rate=0.02))
person.add_expense(Expenses('living expenses', amount=20000))
person.add_expense(Expenses('loan', amount=20000))
print(person)

<financial_planner.entities.household.Person object at 0x11ec78710>

In [12]:
from financial_planner.calculators.Savings_Goals import SavingsGoals

scenario = SavingsGoals(person=person, savings_goal=10000000, rf=0.01, savings_growth_rate=0.02)

In [14]:
df_results = scenario.run()
df_results

               income      expense    net income   minimum savings
2020-06  25041.289533  3333.333333  21707.956199  17720.3751259616
2020-07  25082.647258  3333.333333  21749.313925  17749.6417661826
2020-08  25124.073289  3333.333333  21790.739956  17778.9567426395
2020-09  25165.567739  3333.333333  21832.234406  17808.3201351632
2020-10  25207.130720  3333.333333  21873.797387  17837.7320237171
...               ...          ...           ...               ...
2050-01  44986.109664  3333.333333  41652.776331  31834.2526916714
2050-02  45060.407882  3333.333333  41727.074548  31886.8295481776
2050-03  45134.828809  3333.333333  41801.495475  31939.4932396369
2050-04  45209.372648  3333.333333  41876.039315  31992.2439094643
2050-05  45284.039603  3333.333333  41950.706269  32045.0817013116

[360 rows x 4 columns]